*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* Global style start*/
.container{
    max-width: 1140px;
    margin: 0 auto;
    /* border: 2px solid red; */
}
a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}
li{
    list-style-type: none;

}
.btn-primary{
    font-size: 20px;
    font-weight: 600px;
    padding: 15px 24px;
    background-color: #FF900E;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    
}

/* Global style End*/

/* Header style start  */
.header-section{
    background: rgba(255, 144, 14, 0.1);
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.menu-title{
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
    
}
.menu-item{
    display: flex;
    gap: 30px;

}
.new-group{
    width: 862px;
    margin: 0 auto;
    text-align: center;
}
.group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.group-title{
    width: 600px;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    color: #131313;
    margin: 52px 0 32px;
}
.group-discrib{
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}
.banner img{
    width: 100%;
    margin: 50px 0;
}



/* Header style end */